.home {
    height: 100vh;
    padding-top: 70px;
    background-image: url("../../assets/png/landing_bg.png");
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.landing_curve {
    position: absolute;
    bottom: -10%;
    width: 100%;
    pointer-events: none;
}


.home__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.home__left, .home__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__left {
    flex: 0.5;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.home_reg_btn {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    right: 10%;
    outline: none;
    border: 8px solid rgba(0, 118, 197, 0.485);
    background: linear-gradient(270deg, #004370 -12.2%, rgba(0, 117, 197, 0.678249) 122.41%);
    mix-blend-mode: screen;
    border-radius: 46.875px;
    width: 230px;
    height: 65px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 1.10rem;
    letter-spacing: 0.05em;
    color: var(--bg-color);
    cursor: pointer;
}

.home__right {
    flex: 0.5;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.landing_avatar {
    /* position: absolute; */
    pointer-events: none;
    z-index: 2;
    width: 100%;
}
