@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

html {
    scroll-padding: 80px;
    scroll-behavior: smooth;
}
  
/* VARIABLES */
:root {
    --primary-font: 'Nunito', sans-serif;
    /* --secondary-font: 'Work Sans', sans-serif; */
    --bg-color: #ffe3b3;
    --primary-color: #26648e;
    --secondary-color: #4f8fc0;
    --tertiary-color: #53d2dc;
    --text-main: #333333;
}
  