.banner {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.banner__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 2rem 0; 
    gap: 2rem;
}